<%= @movie.title %></br>
<%= @movie.year %></br>
<%= @movie.mpaa_rating %> </br>
<%= @movie.rating %> </br>

<form action="/movies/favorite/<%= @movie.id%>" method="POST">
<button name ="rate" value="plus"> + </button>

</form>


<form action="/movies/favorite/<%= @movie.id %>" method="POST">
<button name="rate" value="minus"> - </button>

</form>

